---
http_interactions:
- request:
    method: get
    uri: http://omdbapi.com/?season=1&t=True%20Detective
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 10 Jun 2016 20:19:12 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"True Detective","Season":"1","Episodes":[{"Title":"The Long
        Bright Dark","Released":"2014-01-12","Episode":"1","imdbRating":"9.0","imdbID":"tt2657398"},{"Title":"Seeing
        Things","Released":"2014-01-19","Episode":"2","imdbRating":"8.9","imdbID":"tt2704380"},{"Title":"The
        Locked Room","Released":"2014-01-26","Episode":"3","imdbRating":"9.2","imdbID":"tt2790184"},{"Title":"Who
        Goes There","Released":"2014-02-09","Episode":"4","imdbRating":"9.7","imdbID":"tt2790174"},{"Title":"The
        Secret Fate of All Life","Released":"2014-02-16","Episode":"5","imdbRating":"9.6","imdbID":"tt2790196"},{"Title":"Haunted
        Houses","Released":"2014-02-23","Episode":"6","imdbRating":"9.2","imdbID":"tt2790238"},{"Title":"After
        You''ve Gone","Released":"2014-03-02","Episode":"7","imdbRating":"9.2","imdbID":"tt2790240"},{"Title":"Form
        and Void","Released":"2014-03-09","Episode":"8","imdbRating":"9.5","imdbID":"tt2790254"}],"Response":"True"}'
  recorded_at: Fri, 10 Jun 2016 20:19:14 GMT
recorded_with: VCR 3.0.3
