---
http_interactions:
- request:
    method: get
    uri: http://omdbapi.com/?episode=1&season=1&t=True%20Detective
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 16 Apr 2016 17:11:48 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"The Long Bright Dark","Year":"2014","Rated":"TV-MA","Released":"12
        Jan 2014","Season":"1","Episode":"1","Runtime":"58 min","Genre":"Crime, Drama,
        Mystery","Director":"Cary Joji Fukunaga","Writer":"Nic Pizzolatto (created
        by), Nic Pizzolatto","Actors":"Matthew McConaughey, Woody Harrelson, Michelle
        Monaghan, Michael Potts","Plot":"In 2012, former detective partners, Rust
        Cohle and Martin Hart recap one of their very first cases together involving
        a serial killer, back in 1995.","Language":"English","Country":"USA","Awards":"N/A","Poster":"http://ia.media-imdb.com/images/M/MV5BMTY5NjA2MjEyN15BMl5BanBnXkFtZTgwNzU2MjQ4MDE@._V1_SX300.jpg","Metascore":"N/A","imdbRating":"9.0","imdbVotes":"10670","imdbID":"tt2657398","seriesID":"tt2356777","Type":"episode","Response":"True"}'
  recorded_at: Sat, 16 Apr 2016 17:11:23 GMT
recorded_with: VCR 3.0.1
