---
http_interactions:
- request:
    method: get
    uri: http://omdbapi.com/?t=inception&tomatoes=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 10 Jun 2016 20:16:47 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Inception","Year":"2010","Rated":"PG-13","Released":"16 Jul
        2010","Runtime":"148 min","Genre":"Action, Mystery, Sci-Fi","Director":"Christopher
        Nolan","Writer":"Christopher Nolan","Actors":"Leonardo DiCaprio, Joseph Gordon-Levitt,
        Ellen Page, Tom Hardy","Plot":"A thief, who steals corporate secrets through
        use of dream-sharing technology, is given the inverse task of planting an
        idea into the mind of a CEO.","Language":"English, French, Japanese","Country":"USA,
        UK","Awards":"Won 4 Oscars. Another 139 wins & 192 nominations.","Poster":"http://ia.media-imdb.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg","Metascore":"74","imdbRating":"8.8","imdbVotes":"1,434,451","imdbID":"tt1375666","Type":"movie","tomatoMeter":"86","tomatoImage":"certified","tomatoRating":"8.1","tomatoReviews":"326","tomatoFresh":"282","tomatoRotten":"44","tomatoConsensus":"Smart,
        innovative, and thrilling, Inception is that rare summer blockbuster that
        succeeds viscerally as well as intellectually.","tomatoUserMeter":"91","tomatoUserRating":"4.2","tomatoUserReviews":"564261","tomatoURL":"http://www.rottentomatoes.com/m/inception/","DVD":"07
        Dec 2010","BoxOffice":"$292.6M","Production":"Warner Bros. Pictures","Website":"http://inceptionmovie.warnerbros.com/","Response":"True"}'
  recorded_at: Fri, 10 Jun 2016 20:19:14 GMT
recorded_with: VCR 3.0.3
