---
http_interactions:
- request:
    method: get
    uri: http://omdbapi.com/?apikey=<OMDB_API_KEY>&t=inception&tomatoes=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 08 Oct 2017 17:11:16 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Inception","Year":"2010","Rated":"PG-13","Released":"16 Jul
        2010","Runtime":"148 min","Genre":"Action, Adventure, Sci-Fi","Director":"Christopher
        Nolan","Writer":"Christopher Nolan","Actors":"Leonardo DiCaprio, Joseph Gordon-Levitt,
        Ellen Page, Tom Hardy","Plot":"A thief, who steals corporate secrets through
        use of dream-sharing technology, is given the inverse task of planting an
        idea into the mind of a CEO.","Language":"English, Japanese, French","Country":"USA,
        UK","Awards":"Won 4 Oscars. Another 152 wins & 204 nominations.","Poster":"https://images-na.ssl-images-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"8.8/10"},{"Source":"Rotten Tomatoes","Value":"86%"},{"Source":"Metacritic","Value":"74/100"}],"Metascore":"74","imdbRating":"8.8","imdbVotes":"1,626,815","imdbID":"tt1375666","Type":"movie","tomatoMeter":"N/A","tomatoImage":"N/A","tomatoRating":"N/A","tomatoReviews":"N/A","tomatoFresh":"N/A","tomatoRotten":"N/A","tomatoConsensus":"N/A","tomatoUserMeter":"N/A","tomatoUserRating":"N/A","tomatoUserReviews":"N/A","tomatoURL":"http://www.rottentomatoes.com/m/inception/","DVD":"07
        Dec 2010","BoxOffice":"$292,568,851","Production":"Warner Bros. Pictures","Website":"http://inceptionmovie.warnerbros.com/","Response":"True"}'
  recorded_at: Sun, 08 Oct 2017 17:12:48 GMT
recorded_with: VCR 3.0.3
