---
http_interactions:
- request:
    method: get
    uri: http://omdbapi.com/?t=Star%20Wars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 10 Jun 2016 19:35:10 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Star Wars","Year":"1983","Rated":"N/A","Released":"01 May
        1983","Runtime":"N/A","Genre":"Action, Adventure, Sci-Fi","Director":"N/A","Writer":"N/A","Actors":"Harrison
        Ford, Alec Guinness, Mark Hamill, James Earl Jones","Plot":"N/A","Language":"English","Country":"USA","Awards":"N/A","Poster":"N/A","Metascore":"N/A","imdbRating":"7.9","imdbVotes":"344","imdbID":"tt0251413","Type":"game","Response":"True"}'
  recorded_at: Fri, 10 Jun 2016 20:19:13 GMT
recorded_with: VCR 3.0.3
