---
http_interactions:
- request:
    method: get
    uri: http://omdbapi.com/?apikey=<OMDB_API_KEY>&t=True%20Grit
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 08 Oct 2017 17:11:47 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"True Grit","Year":"2010","Rated":"PG-13","Released":"22 Dec
        2010","Runtime":"110 min","Genre":"Adventure, Drama, Western","Director":"Ethan
        Coen, Joel Coen","Writer":"Joel Coen (screenplay), Ethan Coen (screenplay),
        Charles Portis (novel)","Actors":"Jeff Bridges, Hailee Steinfeld, Matt Damon,
        Josh Brolin","Plot":"A stubborn teenager enlists the help of a tough U.S.
        Marshal to track down her father''s murderer.","Language":"English","Country":"USA","Awards":"Nominated
        for 10 Oscars. Another 37 wins & 153 nominations.","Poster":"https://images-na.ssl-images-amazon.com/images/M/MV5BMjIxNjAzODQ0N15BMl5BanBnXkFtZTcwODY2MjMyNA@@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"7.6/10"},{"Source":"Rotten Tomatoes","Value":"95%"},{"Source":"Metacritic","Value":"80/100"}],"Metascore":"80","imdbRating":"7.6","imdbVotes":"259,496","imdbID":"tt1403865","Type":"movie","DVD":"07
        Jun 2011","BoxOffice":"$171,031,347","Production":"Paramount Pictures","Website":"http://www.truegritmovie.com/","Response":"True"}'
  recorded_at: Sun, 08 Oct 2017 17:11:47 GMT
- request:
    method: get
    uri: http://omdbapi.com/?apikey=<OMDB_API_KEY>&t=True%20Grit&y=1969
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 08 Oct 2017 17:11:47 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"True Grit","Year":"1969","Rated":"G","Released":"21 Jun 1969","Runtime":"128
       [...]
