---
http_interactions:
- request:
    method: get
    uri: http://omdbapi.com/?t=True%20Grit
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 16 Apr 2016 17:09:34 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"True Grit","Year":"2010","Rated":"PG-13","Released":"22 Dec
        2010","Runtime":"110 min","Genre":"Adventure, Drama, Western","Director":"Ethan
        Coen, Joel Coen","Writer":"Joel Coen (screenplay), Ethan Coen (screenplay),
        Charles Portis (novel)","Actors":"Jeff Bridges, Hailee Steinfeld, Matt Damon,
        Josh Brolin","Plot":"A tough U.S. Marshal helps a stubborn teenager track
        down her father''s murderer.","Language":"English","Country":"USA","Awards":"Nominated
        for 10 Oscars. Another 36 wins & 147 nominations.","Poster":"http://ia.media-imdb.com/images/M/MV5BMjIxNjAzODQ0N15BMl5BanBnXkFtZTcwODY2MjMyNA@@._V1_SX300.jpg","Metascore":"80","imdbRating":"7.7","imdbVotes":"234,121","imdbID":"tt1403865","Type":"movie","Response":"True"}'
  recorded_at: Sat, 16 Apr 2016 17:09:08 GMT
- request:
    method: get
    uri: http://omdbapi.com/?t=True%20Grit&y=1969
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 16 Apr 2016 17:09:23 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"True Grit","Year":"1969","Rated":"M","Released":"11 Jun 1969","Runtime":"128
        min","Genre":"Adventure, Western, Drama","Director":"Henry Hathaway","Writer":"Charles
        Portis (novel), Marguerite Roberts (screenplay)","Actors":"John Wayne, Glen
        Campbell, Kim Darby, Jeremy Slate","Plot":"A drunken, hard-nosed U.S. Marshal
        and a Texas Ranger help a stubborn teenager track down her father''s murderer
        in Indian territory.","Language":"English","Country":"USA","Awards":"Won 1
        Oscar. Another 5 wins & 7 nominations.","Poster":"http://ia.media-imdb.com/images/M/MV5BMTYwNTE3NDYzOV5BMl5BanBnXkFtZTcwNTU5MzY0MQ@@._V1_SX300.jpg","Metascore":"N/A","imdbRating":"7.4","imdbVotes":"32,382","imdbID":"tt0065126","Type":"movie","Response":"True"}'
  recorded_at: Sat, 16 Apr 2016 17:09:09 GMT
recorded_with: VCR 3.0.1
