---
http_interactions:
- request:
    method: get
    uri: http://omdbapi.com/?apikey=<OMDB_API_KEY>&s=Star%20Wars%20Episode%20IV%20A%20New%20Hope
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 08 Oct 2017 17:11:17 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Search":[{"Title":"Star Wars: Episode IV - A New Hope","Year":"1977","imdbID":"tt0076759","Type":"movie","Poster":"https://images-na.ssl-images-amazon.com/images/M/MV5BYTUwNTdiMzMtNThmNS00ODUzLThlMDMtMTM5Y2JkNWJjOGQ2XkEyXkFqcGdeQXVyNzQ1ODk3MTQ@._V1_SX300.jpg"}],"totalResults":"1","Response":"True"}'
  recorded_at: Sun, 08 Oct 2017 17:12:49 GMT
- request:
    method: get
    uri: http://omdbapi.com/?apikey=<OMDB_API_KEY>&t=Star%20Wars:%20Episode%20IV%20-%20A%20New%20Hope
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 08 Oct 2017 17:12:49 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Star Wars: Episode IV - A New Hope","Year":"1977","Rated":"PG","Released":"25
        May 1977","Runtime":"121 min","Genre":"Action, Adventure, Fantasy","Director":"George
        Lucas","Writer":"George Lucas","Actors":"Mark Hamill, Harrison Ford, Carrie
        Fisher, Peter Cushing","Plot":"Luke Skywalker joins forces with a Jedi Knight,
        a cocky pilot, a Wookiee, and two droids to save the galaxy from the Empire''s
        world-destroying battle-station, while also attempting to rescue Princess
        Leia from the evil Darth Vader.","Language":"English","Country":"USA","Awards":"Won
        6 Oscars. Another 50 wins & 28 nominations.","Poster":"https://images-na.ssl-images-amazon.com/images/M/MV5BYTUwNTdiMzMtNThmNS00ODUzLThlMDMtMTM5Y2JkNWJjOGQ2XkEyXkFqcGdeQXVyNzQ1ODk3MTQ@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"8.7/10"},{"Source":"Rotten Tomatoes","Value":"93%"},{"Source":"Metacritic","Value":"92/100"}],"Metascore":"92","imdbRating":"8.7","imdbVotes":"999,345","imdbID":"tt0076759","Type":"movie","DVD":"21
        Sep 2004","BoxOffice":"N/A","Production":"20th Century Fox","Website":"http://www.starwars.com/episode-iv/","Response":"True"}'
  recorded_at: Sun, 08 Oct 2017 17:12:49 GMT
recorded_with: VCR 3.0.3
