---
http_interactions:
- request:
    method: get
    uri: http://omdbapi.com/?s=Star%20Wars%20Episode%20IV%20A%20New%20Hope
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 10 Jun 2016 20:19:14 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Search":[{"Title":"Star Wars: Episode IV - A New Hope","Year":"1977","imdbID":"tt0076759","Type":"movie","Poster":"http://ia.media-imdb.com/images/M/MV5BOTIyMDY2NGQtOGJjNi00OTk4LWFhMDgtYmE3M2NiYzM0YTVmXkEyXkFqcGdeQXVyNTU1NTcwOTk@._V1_SX300.jpg"}],"totalResults":"1","Response":"True"}'
  recorded_at: Fri, 10 Jun 2016 20:19:16 GMT
- request:
    method: get
    uri: http://omdbapi.com/?t=Star%20Wars:%20Episode%20IV%20-%20A%20New%20Hope
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 10 Jun 2016 20:11:55 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Star Wars: Episode IV - A New Hope","Year":"1977","Rated":"PG","Released":"25
        May 1977","Runtime":"121 min","Genre":"Action, Adventure, Fantasy","Director":"George
        Lucas","Writer":"George Lucas","Actors":"Mark Hamill, Harrison Ford, Carrie
        Fisher, Peter Cushing","Plot":"Luke Skywalker joins forces with a Jedi Knight,
        a cocky pilot, a wookiee and two droids to save the galaxy from the Empire''s
        world-destroying battle-station, while also attempting to rescue Princess
        Leia from the evil Darth Vader.","Language":"English","Country":"USA","Awards":"Won
        6 Oscars. Another 39 wins & 28 nominations.","Poster":"http://ia.media-imdb.com/images/M/MV5BOTIyMDY2NGQtOGJjNi00OTk4LWFhMDgtYmE3M2NiYzM0YTVmXkEyXkFqcGdeQXVyNTU1NTcwOTk@._V1_SX300.jpg","Metascore":"92","imdbRating":"8.7","imdbVotes":"894,008","imdbID":"tt0076759","Type":"movie","Response":"True"}'
  recorded_at: Fri, 10 Jun 2016 20:19:16 GMT
recorded_with: VCR 3.0.3
